* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

:root {
    --cybernate-blue:#22346E;
    --cybernate-bg-color: #22346E1A;
}

.slider-container {
    display: flex;
    height: 80vh;
    width: 200%;
}

.first-slide, 
.second-slide {
    display: flex;
    width: 100%;
}

.first-slide-text,
.first-slide-image,
.second-slide-text,
.second-slide-image {
    width: 50%;
    height: 100%;
}

.first-slide-text,
.second-slide-text {
    background-color: #22346E1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-slide-text1, 
.second-slide-text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
    margin: 0 0 2% 0;
    width: 40%;
}

.first-slide-text1 p:nth-child(1),
.first-slide-text1 p:nth-child(3),
.second-slide-text1 p:nth-child(1),
.second-slide-text1 p:nth-child(3) {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    white-space: nowrap;
}

.first-slide-text1 p:nth-child(2),
.second-slide-text1 p:nth-child(2) {
    font-weight: bold;
    color: var(--cybernate-blue);
    font-size: 25px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.first-slide-text2,
.second-slide-text2 {
    line-height: 28px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.first-slide-text2 p,
.second-slide-text2 p {
    letter-spacing: 2px;
    font-size: 20px;
    white-space: nowrap;
}

.slider-engage-btn {
    background-color: var(--cybernate-blue);
    width: 30%;
    height: 7%;
    border: none;
    margin: 3% 0 0 0;
    border-radius: 3px;
}

.slider-engage-btn:hover {
    cursor: pointer;
}

.slider-engage-btn a {
    color: white;
    white-space: nowrap;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.first-slide-image img, 
.second-slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}