* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

:root {
  --cybernate-blue:#22346E;
  --cybernate-bg-color: #22346E1A;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 20vh;
}

.sidebar-open-btn {
  display: flex;
  width: 5%;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.sidebar-toggle-btn-icon {
  width: 90%;
  height: 38%;
}

.sidebar-open-btn:hover {
  color: skyblue;
}

.navbar-container a:nth-child(2) {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 10%;
}

.navbar-cybernate-logo {
  height: 80%;
}

.navbar-icons {
  display: flex;
  width: 18%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navbar-icons a:nth-child(1),
.navbar-icons a:nth-child(2) {
  display: block;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-bell-icon,
.navbar-profile-icon {
  height: 55%;
  width: 100%;
}