* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

:root {
  --cybernate-blue:#22346E;
  --cybernate-bg-color: #22346E1A;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 12vh;
}

.navbar-left-container {
  display: flex;
  width: 70%;
  align-items: center;
  height: 100%;
}

.sidebar-open-btn {
  display: none;
}

.sidebar-open-btn:hover {
  cursor: pointer;
}

.navbar-cybernate-logo {
  display: block;
  margin: 0 5%;
}

.navbar-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.navbar-links a {
  color: var(--cybernate-blue);
  font-weight: bold;
  white-space: nowrap;
}

.navbar-links a:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  width: 8%;
  height: 100%;
  margin-right: 0.5%;
}

.navbar-bell-icon,
.navbar-profile-icon {
  display: block;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-bell-icon img,
.navbar-profile-icon img {
  height: 50%;
  width: 100%;
  
}

@media (max-width: 768px) {
  .sidebar-open-btn {
    display: block;
    margin: 0 25% 0 2% ;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .sidebar-open-btn img {
    height: 45%;
  }

  .navbar-cybernate-logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    align-items: center;
  }

  .navbar-cybernate-logo img {
    height: 80%;
  }

  .navbar-links {
    display: none;
  }

  .navbar-icons {
    width: 15%;
    margin: 0 2% 0 5%;
    justify-content: space-between;
  }

  .navbar-bell-icon,
  .navbar-profile-icon {
    width: 38%;
  }
}